---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Lightning Fast",
    description:
      "We make sure each website gets a Lighthouse score of 95+, improving SEO and customer experience.",
    icon: "ph:lightning-bold",
  },
  {
    title: "Pay by the Page",
    description:
      "Our transparent and affordable pricing model allows you to easily estimate web development costs upfront, avoiding surprises.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Quick Delivery",
    description:
      "Our websites ship within 48 hours to all customers, while still delivering top-notch quality.",
    icon: "ph:clock",
  },
  {
    title: "Advanced Integration",
    description:
      "We have experience with a variety of tech stacks and providers, from Shopify to Webflow, we can do it all.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO for Everyone",
    description:
      "We take the guesswork out of SEO, and will even audit and improve your business' digital presence.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "24/7 Support",
    description:
      "We take pride in our customer's sites run smoothly, offering 24/7 site monitoring and maintenance.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight" id="about">
    Fast, cheap, custom websites.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    At Buoy, we don't play around, we're here to support your business without the BS. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
