---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Starter",
    price: "$99",
    popular: false,
    features: [
      "Hand-coded Static Website",
      "Best for Small Businesses",
      "Basic SEO Setup",
      "Free Domain included",
      "Fast - 95+ Lighthouse Score",
    ],
    button: {
      text: "Get Started",
      link: "https://buy.stripe.com/7sI00Z7Yic18aD66oo",
    },
  },
  {
    name: "Growth",
    price: "$199",
    popular: true,
    features: [
      "Advanced SEO Setup",
      "Automated Lead Funnel",
      "CMS and Blog",
      "Personalized design",
      "Dynamic and Mobile-Friendly",
    ],
    button: {
      text: "Get Started",
      link: "https://buy.stripe.com/6oEeVT2DYc186mQ289",
    },
  },
  {
    name: "E-Commerce",
    price: "$299",
    popular: false,
    features: [
      "E-Commerce Support (Up to 100 Products)",
      "Payment Module Integration",
      "Advanced Integrations",
      "Customer Reviews",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "https://buy.stripe.com/dR6153diC9T026A3ce",
    },
  },
  
];
---


  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing, by the page. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>

