---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Starter",
    price: "$99",
    popular: false,
    features: [
      "Hand-coded website with up to 5 pages",
      "5 hours of revisions per month",
      "Basic SEO setup (meta tags, alt text, etc.)",
      "24/7 Support",
      "Hosting and domain included",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Growth",
    price: "$249",
    popular: true,
    features: [
      "All Starter Features",
      "Unlimited Rivisions",
      "CMS and Blog",
      "Personalized design based on your brand",
      "Up to 10 custom pages",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Startup",
    price: "$499",
    popular: false,
    features: [
      "Ecommerce Support",
      "Unlimited Design Work",
      "Advanced Integrations",
      "Dedicated Account Manager",
      "Prority Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  {
    name: "Enterprise",
    price: "$999",
    popular: false,
    features: [
      "Ecommerce Support",
      "Unlimited Design Work",
      "Advanced Integrations",
      "Dedicated Account Manager",
      "Prority Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---


  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>

